src/test/wsdl/cosReadUpdate.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.4-b01-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.4-b01-. --><definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://update.service.cosread.telenor.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://update.service.cosread.telenor.com/" name="UpdateServiceEndpointService">
<types>
<xsd:schema>
<xsd:import namespace="http://update.service.cosread.telenor.com/" schemaLocation="cosReadUpdate.xsd"></xsd:import>
</xsd:schema>
</types>
<message name="updateSubscriptions">
<part name="parameters" element="tns:updateSubscriptions"></part>
</message>
<message name="updateSubscriptionsResponse">
<part name="parameters" element="tns:updateSubscriptionsResponse"></part>
</message>
<message name="deleteSubscriptionsById">
<part name="parameters" element="tns:deleteSubscriptionsById"></part>
</message>
<message name="deleteSubscriptionsByIdResponse">
<part name="parameters" element="tns:deleteSubscriptionsByIdResponse"></part>
</message>
<message name="updateMasterCustomers">
<part name="parameters" element="tns:updateMasterCustomers"></part>
</message>
<message name="updateMasterCustomersResponse">
<part name="parameters" element="tns:updateMasterCustomersResponse"></part>
</message>
<message name="deleteMasterCustomersById">
<part name="parameters" element="tns:deleteMasterCustomersById"></part>
</message>
<message name="deleteMasterCustomersByIdResponse">
<part name="parameters" element="tns:deleteMasterCustomersByIdResponse"></part>
</message>
<portType name="UpdateServiceEndpoint">
<operation name="updateSubscriptions">
<input message="tns:updateSubscriptions"></input>
<output message="tns:updateSubscriptionsResponse"></output>
</operation>
<operation name="deleteSubscriptionsById">
<input message="tns:deleteSubscriptionsById"></input>
<output message="tns:deleteSubscriptionsByIdResponse"></output>
</operation>
<operation name="updateMasterCustomers">
<input message="tns:updateMasterCustomers"></input>
<output message="tns:updateMasterCustomersResponse"></output>
</operation>
<operation name="deleteMasterCustomersById">
<input message="tns:deleteMasterCustomersById"></input>
<output message="tns:deleteMasterCustomersByIdResponse"></output>
</operation>
</portType>
<binding name="UpdateServiceEndpointPortBinding" type="tns:UpdateServiceEndpoint">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="updateSubscriptions">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="deleteSubscriptionsById">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="updateMasterCustomers">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="deleteMasterCustomersById">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="UpdateServiceEndpointService">
<port name="UpdateServiceEndpointPort" binding="tns:UpdateServiceEndpointPortBinding">
<soap:address location="http://10.235.134.106:8080/cosread/update"></soap:address>
</port>
</service>
</definitions>