src/test/wsdl/cosreadSubscrSearch.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.4-b01-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.4-b01-. --><definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://search.service.cosread.telenor.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://search.service.cosread.telenor.com/" name="SubscriptionSearchServiceEndpointService">
<types>
<xsd:schema>
<xsd:import namespace="http://search.service.cosread.telenor.com/" schemaLocation="cosreadSubscrSearch.xsd"></xsd:import>
</xsd:schema>
</types>
<message name="ping">
<part name="parameters" element="tns:ping"></part>
</message>
<message name="pingResponse">
<part name="parameters" element="tns:pingResponse"></part>
</message>
<message name="getSubscriptionsForAccount">
<part name="parameters" element="tns:getSubscriptionsForAccount"></part>
</message>
<message name="getSubscriptionsForAccountResponse">
<part name="parameters" element="tns:getSubscriptionsForAccountResponse"></part>
</message>
<message name="findSubscriptions">
<part name="parameters" element="tns:findSubscriptions"></part>
</message>
<message name="findSubscriptionsResponse">
<part name="parameters" element="tns:findSubscriptionsResponse"></part>
</message>
<message name="getUserAggregates">
<part name="parameters" element="tns:getUserAggregates"></part>
</message>
<message name="getUserAggregatesResponse">
<part name="parameters" element="tns:getUserAggregatesResponse"></part>
</message>
<message name="getSubscriptionCountForAccounts">
<part name="parameters" element="tns:getSubscriptionCountForAccounts"></part>
</message>
<message name="getSubscriptionCountForAccountsResponse">
<part name="parameters" element="tns:getSubscriptionCountForAccountsResponse"></part>
</message>
<message name="findSubscriptionsByPeriod">
<part name="parameters" element="tns:findSubscriptionsByPeriod"></part>
</message>
<message name="findSubscriptionsByPeriodResponse">
<part name="parameters" element="tns:findSubscriptionsByPeriodResponse"></part>
</message>
<portType name="SubscriptionSearchServiceEndpoint">
<operation name="ping">
<input message="tns:ping"></input>
<output message="tns:pingResponse"></output>
</operation>
<operation name="getSubscriptionsForAccount">
<input message="tns:getSubscriptionsForAccount"></input>
<output message="tns:getSubscriptionsForAccountResponse"></output>
</operation>
<operation name="findSubscriptions">
<input message="tns:findSubscriptions"></input>
<output message="tns:findSubscriptionsResponse"></output>
</operation>
<operation name="getUserAggregates">
<input message="tns:getUserAggregates"></input>
<output message="tns:getUserAggregatesResponse"></output>
</operation>
<operation name="getSubscriptionCountForAccounts">
<input message="tns:getSubscriptionCountForAccounts"></input>
<output message="tns:getSubscriptionCountForAccountsResponse"></output>
</operation>
<operation name="findSubscriptionsByPeriod">
<input message="tns:findSubscriptionsByPeriod"></input>
<output message="tns:findSubscriptionsByPeriodResponse"></output>
</operation>
</portType>
<binding name="SubscriptionSearchServiceEndpointPortBinding" type="tns:SubscriptionSearchServiceEndpoint">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="ping">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getSubscriptionsForAccount">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="findSubscriptions">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getUserAggregates">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getSubscriptionCountForAccounts">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="findSubscriptionsByPeriod">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="SubscriptionSearchServiceEndpointService">
<port name="SubscriptionSearchServiceEndpointPort" binding="tns:SubscriptionSearchServiceEndpointPortBinding">
<soap:address location="http://localhost:8080/cosread/search/subscription"></soap:address>
</port>
</service>
</definitions>