src/test/wsdl/graphResourceUpdate.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.4-b01-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.4-b01-. --><definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.graph.cos.telenor.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service.graph.cos.telenor.com/" name="ResourceUpdateServiceImplService">
<types>
<xsd:schema>
<xsd:import namespace="http://service.graph.cos.telenor.com/" schemaLocation="graphResourceUpdate.xsd"></xsd:import>
</xsd:schema>
</types>
<message name="updateCustomer">
<part name="parameters" element="tns:updateCustomer"></part>
</message>
<message name="updateCustomerResponse">
<part name="parameters" element="tns:updateCustomerResponse"></part>
</message>
<message name="updateMasterCustomer">
<part name="parameters" element="tns:updateMasterCustomer"></part>
</message>
<message name="updateMasterCustomerResponse">
<part name="parameters" element="tns:updateMasterCustomerResponse"></part>
</message>
<message name="updateAccount">
<part name="parameters" element="tns:updateAccount"></part>
</message>
<message name="updateAccountResponse">
<part name="parameters" element="tns:updateAccountResponse"></part>
</message>
<message name="updateSubscription">
<part name="parameters" element="tns:updateSubscription"></part>
</message>
<message name="updateSubscriptionResponse">
<part name="parameters" element="tns:updateSubscriptionResponse"></part>
</message>
<message name="updateUser">
<part name="parameters" element="tns:updateUser"></part>
</message>
<message name="updateUserResponse">
<part name="parameters" element="tns:updateUserResponse"></part>
</message>
<message name="updateUserMapping">
<part name="parameters" element="tns:updateUserMapping"></part>
</message>
<message name="updateUserMappingResponse">
<part name="parameters" element="tns:updateUserMappingResponse"></part>
</message>
<message name="updateUserResource">
<part name="parameters" element="tns:updateUserResource"></part>
</message>
<message name="updateUserResourceResponse">
<part name="parameters" element="tns:updateUserResourceResponse"></part>
</message>
<portType name="ResourceUpdateServiceImpl">
<operation name="updateCustomer">
<input message="tns:updateCustomer"></input>
<output message="tns:updateCustomerResponse"></output>
</operation>
<operation name="updateMasterCustomer">
<input message="tns:updateMasterCustomer"></input>
<output message="tns:updateMasterCustomerResponse"></output>
</operation>
<operation name="updateAccount">
<input message="tns:updateAccount"></input>
<output message="tns:updateAccountResponse"></output>
</operation>
<operation name="updateSubscription">
<input message="tns:updateSubscription"></input>
<output message="tns:updateSubscriptionResponse"></output>
</operation>
<operation name="updateUser">
<input message="tns:updateUser"></input>
<output message="tns:updateUserResponse"></output>
</operation>
<operation name="updateUserMapping">
<input message="tns:updateUserMapping"></input>
<output message="tns:updateUserMappingResponse"></output>
</operation>
<operation name="updateUserResource">
<input message="tns:updateUserResource"></input>
<output message="tns:updateUserResourceResponse"></output>
</operation>
</portType>
<binding name="ResourceUpdateServiceImplPortBinding" type="tns:ResourceUpdateServiceImpl">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="updateCustomer">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="updateMasterCustomer">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="updateAccount">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="updateSubscription">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="updateUser">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="updateUserMapping">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="updateUserResource">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="ResourceUpdateServiceImplService">
<port name="ResourceUpdateServiceImplPort" binding="tns:ResourceUpdateServiceImplPortBinding">
<soap:address location="http://localhost:8080/graph/resourceUpdate"></soap:address>
</port>
</service>
</definitions>