src/test/wsdl/repserver.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.4-b01-. -->
<xs:schema xmlns:tns="http://service.stub.cos.telenor.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0"
           targetNamespace="http://service.stub.cos.telenor.com/">

    <xs:element name="sendMessages" type="tns:sendMessages"></xs:element>

    <xs:element name="sendMessagesResponse" type="tns:sendMessagesResponse"></xs:element>

    <xs:complexType name="sendMessages">
        <xs:sequence>
            <xs:element name="arg0" type="xs:string" minOccurs="0"></xs:element>
            <xs:element name="arg1" type="xs:anyType" minOccurs="0" maxOccurs="unbounded"></xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="sendMessagesResponse">
        <xs:sequence></xs:sequence>
    </xs:complexType>
</xs:schema>